web/bundles/
app/bootstrap.php.cache
app/cache/*
app/config/parameters.yml
!app/cache/.gitkeep
app/logs/*
!app/logs/.gitkeep
app/phpunit.xml
build/*
!build/*.xml
!build/*.sql
vendor/
!web/vendor/TableEdit
bin/
composer.phar
